@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: "Roboto Condensed", sans-serif;
}

.header-container-mobile {
  display: none;
}

#loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 9999999;
}
/*loader */

#preloader-wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 999999999999;
}

#preloader-box {
  box-sizing: border-box;
  width: 200px;
  margin: auto;
  padding: 10px 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #ffffff;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#preloader {
  width: 150px;
  height: 150px;
  background-color: #ffffff;
  overflow: hidden;
  display: block;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  position: relative;
  margin: 15px auto;
  z-index: 1;
  border: 4px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
}

#preloader-box #spinner {
  width: 150px;
  height: 150px;
  border: 4px solid #eb7b31;
  border-top: 4px solid #ccc;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  position: absolute;
  z-index: 99;
  margin: 15px 0 0 5px;
  box-sizing: border-box;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#truck-animation {
  animation: animationFrames linear 5s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  /*when the spec is finished*/
  -webkit-animation: animationFrames linear 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
  /*Chrome 16+, Safari 4+*/
  -moz-animation: animationFrames linear 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-fill-mode: forwards;
  /*FF 5+*/
  -o-animation: animationFrames linear 5s;
  -o-animation-iteration-count: infinite;
  -o-animation-fill-mode: forwards;
  /*Not implemented yet*/
  -ms-animation: animationFrames linear 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-fill-mode: forwards;
  /*IE 10+*/
}

@keyframes animationFrames {
  0% {
    transform: translate(-380px, 25px);
  }

  100% {
    transform: translate(480px, 25px);
  }
}

@-moz-keyframes animationFrames {
  0% {
    transform: translate(-480px, 25px);
  }

  100% {
    transform: translate(480px, 25px);
  }
}

@-webkit-keyframes animationFrames {
  0% {
    transform: translate(-480px, 25px);
  }

  100% {
    transform: translate(480px, 25px);
  }
}

@-o-keyframes animationFrames {
  0% {
    transform: translate(-480px, 25px);
  }

  100% {
    transform: translate(480px, 25px);
  }
}

@-ms-keyframes animationFrames {
  0% {
    transform: translate(-48px, 25px);
  }

  100% {
    transform: translate(480px, 25px);
  }
}

#preloader.fade {
  opacity: 0;
}

#preloader.hide {
  display: none;
}

/*finsih-loader*/

.container {
  max-width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
}

.header-container {
  position: absolute;
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 95px;
  padding-right: 95px;
  align-items: end;
  padding-top: 1.2rem;
}

.navbar-logo img {
  width: 35%;
}

.navbar-links-container {
  width: 25%;
}
.navbar-links {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  text-transform: uppercase;
  font-weight: 700;
}
.navbar-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.navbar-links a,
.navbar-links a:after,
.navbar-links a:before {
  transition: all 0.5s;
}
.navbar-links a:hover {
  color: #eb7b31;
}
.stroke ul li a {
  position: relative;
}
.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #aaa;
  height: 1px;
}
.stroke ul li a:hover:after {
  width: 100%;
}

h5 {
  display: inline-block;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.overlay:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.3;
}
.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-control-next,
.carousel-control-prev {
  width: 5% !important;
}
.carousel .carousel-item {
  transition-duration: 1.7s;
}
.carousel-text {
  position: absolute;
  top: 40%;
  left: 15%;
  color: white;
  text-transform: uppercase;
  z-index: 1;
}

.carousel-text h4 {
  font-weight: 700;
  font-size: 18px;
}
.carousel-text h3 {
  font-size: 70px;
  font-weight: 700;
}
.button-contact {
  background: #eb7b31;
  border: none;
  font-size: 17px;
  color: white;
  padding: 16px 50px;
  font-weight: 500;
  margin-right: 10px;
  border: 2px solid #eb7b31;
  transition: 0.7s;
}

.button-contact-aboutus {
  background: #333333;
  border: none;
  font-size: 17px;
  color: #eb7b31;
  padding: 16px 50px;
  font-weight: 500;
  margin-right: 10px;
  border: 2px solid #333333;
  transition: 0.7s;
}
.button-contact-aboutus-wrapper {
  padding-top: 50px;
  padding-bottom: 27px;
}
.button-contact-aboutus:hover {
  background: white;
  color: #eb7b31;
}

.button-services {
  background: transparent;
  border: none;
  font-size: 17px;
  color: white;
  padding: 16px 50px;
  font-weight: 500;
  border: 2px solid white;
  transition: 0.7s;
}

/*section aboutus*/
.section-aboutus {
  display: flex;
}
.aboutus-info,
.aboutus-img {
  width: 50%;
}
.aboutus-info {
  padding: 0px 150px;
  padding-top: 70px;
}
.aboutus-info p {
  margin-bottom: 2rem;
  font-size: 18px;
}
.aboutus-welcome {
  font-size: 25px !important;
}
.aboutus-img img {
  width: 100%;
}

.aboutus-info h3 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  color: #333333;
  padding-bottom: 30px;
}
.aboutus-info h3::after {
  content: "";
  display: block;
  border-bottom: 5px solid #f68002;
  width: 6%;
  position: relative;
  bottom: -6px;
}

/*services */
.section-services {
  background-color: #323232;
}
.services-title {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
}
.services-title h3 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
}

.services-title h3::after {
  content: "";
  display: block;
  border-bottom: 5px solid #f68002;
  width: 6%;
  position: relative;
  bottom: -6px;
  margin: 0 auto;
}
.services-info {
  display: flex;
  justify-content: center;
  padding: 0 150px;
  flex-wrap: wrap;
  text-align: center;
  color: white;
  padding-bottom: 30px;
}
.services-item {
  width: 30%;
  margin-bottom: 45px;
}
.services-item h4 {
  margin-top: 10px;
}
.services-item p {
  padding-top: 10px;
}
.services-icon {
  font-size: 64px;
}

/*language dropdown */
.language {
  position: relative;
  display: inline-block;
  color: white;
  cursor: pointer;
}
.language:hover {
  color: #f78000;
}
.dropdown-language {
  display: none;
  position: absolute;
  z-index: 1;
  cursor: pointer;
}

.dropdown-language a {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
}
.dropdown-language a:hover {
  background: white;
}

.show {
  display: block;
  background: #333333a1;
}
.lang-icon {
  width: 25px;
}

/*contact form*/
form {
  max-width: 420px;
  margin: 50px auto;
}

.feedback-input {
  color: #333333;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 1px solid #f78000;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #f78000;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  width: 35%;
  background: #333333;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
[type="submit"]:hover {
  background: #f78000;
}

.section-contact {
  background: #80808012;
  display: flex;
  justify-content: space-evenly;

  padding-bottom: 50px;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 40px;
}

.contact-info {
  line-height: 35px;
}
.contact-info h3 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: #333333;
}
.form-title {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: #333333;
}

.contact-col {
  margin-top: 30px;
  font-size: 18px;
}
.contact-row {
  display: flex;
  margin-top: 20px;
  font-size: 18px;
}
.contact-col1 {
  margin-right: 38px;
  font-size: 18px;
}
.contact-col2 a {
  color: #333333;
  text-decoration: underline;
  font-weight: lighter;
}
.contact-col2 a:hover {
  color: #eb7b31;
}
.section-footer {
  display: flex;
  background: #80808012;
}
.footer-img {
  width: 65%;
}
.footer-img img {
  width: 100%;
}
.footer-info {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 21px;
  margin-left: 35px;
  font-weight: lighter;
}
.section-copyright {
  background: #333333;
  padding: 10px;
  color: white;
  text-align: center;
  font-weight: lighter;
}
.section-copyright p {
  margin: 0;
  padding: 0;
}
.section-copyright p a {
  text-decoration: none;
  color: white;
}
.section-copyright p a:hover {
  color: #eb7b31;
}

.section-copyright span {
  font-weight: lighter;
  opacity: 0.2;
}

/*media queries */

@media (min-width: 1014px) {
  .button-contact:hover {
    background: white;
  }
  .button-contact:hover {
    color: #eb7b31 !important;
  }
  .button-services:hover {
    background: white;
  }
  .button-services:hover {
    color: black !important;
  }
}
@media (max-width: 1440px) {
  .header-container {
    align-items: baseline;
  }
  .navbar-links-container {
    width: 100%;
  }
  .navbar-logo img {
    width: 50%;
  }
  .carousel-text h4 {
    font-weight: 700;
    font-size: 18px;
  }
  .carousel-text h3 {
    font-size: 50px;
    font-weight: 700;
  }
  .button-contact,
  .button-services {
    font-size: 15px;
  }
  .section-footer {
    align-items: center;
  }
  .footer-img {
    width: 45%;
  }
}

@media (min-width: 811px) and (max-width: 1378px) {
  .section-aboutus {
    flex-wrap: wrap;
  }
  .aboutus-info,
  .aboutus-img {
    width: 100%;
  }
  .footer-info {
    width: auto;
  }
}
@media (max-width: 810px) {
  .header-container {
    display: none;
  }
  .header-container-mobile {
    display: block;
  }

  .mobile-menu {
    position: absolute;
    width: 100%;
    z-index: 9999;
  }
  nav {
    display: flex;
    background-color: transparent;
    height: 65px;
  }
  .nav-links-mobile {
    list-style-type: none;
  }

  .navbar-logo-mobile {
    text-align: right;
  }
  .navbar-logo-mobile img {
    width: 33%;
    padding-right: 25px;
    padding-top: 5px;
  }
  .nav-links-mobile a {
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding-bottom: 10px;
  }

  .nav-links-mobile a::after {
    content: "";
    display: block;
    border-bottom: 1px solid #f68002;
    width: 100%;
    position: relative;
    bottom: -6px;
    margin: 0 auto;
  }

  #menuToggle {
    display: flex;
    flex-direction: column;
    margin: 20px 0px 0px 20px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }

  #menuToggle span {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #eb7b31;
  }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    position: absolute;
    width: 250px;
    height: 450px;
    margin: -50px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background-color: #333333de;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    text-align: center;
  }

  #menu li {
    padding: 10px 0;
    transition-delay: 2s;
  }

  #menuToggle input:checked ~ ul {
    transform: none;
  }
  .carousel-text {
    top: 38%;
  }
  .carousel-text h4 {
    font-size: 15px;
  }
  .carousel-text h3 {
    font-size: 40px;
  }
  .aboutus-info {
    padding: 0px;
    padding-top: 50px;
    margin-left: 25px;
  }
  .aboutus-img img {
    height: 100%;
  }
  .services-info {
    padding: 0px;
  }
  .section-contact {
    padding-bottom: 0px;
  }
  .contact-info {
    line-height: 29px;
    margin-right: 30px;
  }
  .contact-form {
    width: 38%;
  }
  .footer-img {
    width: 55%;
  }
  .footer-info {
    width: 40%;
    margin: 0;
  }
  .google-frame {
    width: 100%;
  }
  [type="submit"] {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .navbar-logo-mobile img {
    width: 45%;
  }
  .carousel-text h3 {
    font-size: 35px;
  }
  .button-contact,
  .button-services {
    padding: 12px 25px;
  }
  .section-aboutus {
    flex-wrap: wrap;
  }
  #menu {
    width: 100vw;
    background-color: #333;
  }
  .aboutus-info {
    width: 100%;
    padding: 0px;
    padding-top: 18px;
    margin-left: 10px;
  }
  .aboutus-img {
    width: 100%;
  }
  .aboutus-info p {
    font-size: 16px;
  }
  .button-contact-aboutus-wrapper {
    text-align: center;
    padding-top: 0px;
    margin-bottom: 10px;
  }
  .button-contact-aboutus {
    padding: 12px 30px;
  }
  .services-item {
    width: 50%;
  }
  .section-contact {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .contact-form {
    width: 100%;
  }
  .contact-row {
    flex-wrap: wrap;
  }
  .section-footer {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .footer-info,
  .footer-img {
    width: 100%;
    padding: 20px 0;
  }
}
@media (max-width: 430px) {
  .navbar-logo-mobile img {
    width: 50%;
  }
  .carousel-text {
    left: 10%;
  }
  .carousel-button-custom {
    display: flex;
    flex-direction: column;
  }
  .carousel-button-custom > button {
    margin-bottom: 10px;
  }
  .button-contact,
  .button-services {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  [type="submit"] {
    width: 100%;
  }
}
@media (max-width: 280px) {
  #contactENINFO {
    word-break: break-all;
  }
}
